:root {
    /*
     * Colors
     */
    --white: #ffffff;
    --black: #ffffff;
    --primary-color: #e74c3c;
    --secondary-color: #ccddee;
    --success-color: green;
    --danger-color: #ff0000;

    /*
     * Typography
     */
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-size: 1.5em;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--font-size);
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--black);
}
